 
<div class="panel panel-default font" ng-init="getVoter()" style="width: 60%; opacity: 0.8; font-weight: 600; color: black;">
	<div class="panel-heading" style=" color: black;">
	  <p class="panel-title font"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-list"> </span> Delete List</p>
	</div>
	<div style="color: black;">
		<table class="table" style="width:100%;" >
			<thead>
			<tr>
			  <th>Full Name</th>
			  <th>Voter Id</th>
                <th>DOB</th>
			  <th>Actions</th>
			</tr>
			</thead>
			<tbody style="font-size: 15px; font-weight: lighter;">
			<tr ng-repeat="voter in voters">
			  <td>{{ voter.name }}</td>
			  <td>{{ voter.vid }}</td>
                <td>{{ voter.dob }}</td>
			  <td> 
			  	<a ng-click="deleteVoter(voter._id)" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>	
    </div>
</div>
<a href="#/" class="btn btn-default"> Go Back</a>